<style>
  #shopify-section-header { display: none !important;}
  footer { display: none !important;}
  main { padding-top: 0 !important; }
</style>
<div id="flow">
  <section id="paca-intro">
    <h1 class="accent nm tac text-white">Hi, I'm Paca!</h1>
    <h2 class="nmt tac nmt text-white">Want to learn <br> about alpacas?</h2>
    <div class="flow-button border-white continue clickable"><h3 class="text-white tac nm">Yes</h3></div>
  </section>
  <section style="display:none;" class="flex-container-no dc" id="shave-me">
    <img src="{{'clothed-paca.png' | asset_url}}" id="clothed-paca" class="fw paca-bod" />
    <div class="flex-container-no">
      <img src="{{'fluff.png' | asset_url}}" id="fluff2" class="vis-hid" />
      <img src="{{'fluff.png' | asset_url}}" id="fluff1" class="vis-hid" />
      <img src="{{'fluff.png' | asset_url}}" id="fluff3" class="vis-hid" />
      <img src="{{'fluff.png' | asset_url}}" id="fluff4" class="vis-hid" />
    </div>
    <img src="{{'crown.png' | asset_url}}" class="icon slide1"/>
    <img src="{{'bow.png' | asset_url}}" class="icon slide2" style="display: none; margin-top: 50px"/>
    <p class="tac nmt slide1">Alpaca fleece is pretty valuable.<br> Originally alpaca fur was only <br>warn by royalty and valued more</br> than gold in the Incan empire. </p>
    <p class="tac nmt slide2" style="display: none;">Alpaca fibers are extremely fine<br> and durable. They also keep you</br>very warm.</p>
    <div class="flow-button border-black continue clickable slide2" style="display: none;"><p class="tac nm">Tap to add color</p></div>

    <div class="flex-container-no slide1">
      <img src="{{'rightarrow.png' | asset_url}}" class="icon"/>
      <img src="{{'shaver.png' | asset_url}}" id="shaver" class="clickable" />
      <img src="{{'arrowpointingleft.png' | asset_url}}" class="icon"/>
    </div>
    <p class="slide1">Tap to shave your alpaca</p>
    <div id="prog" class="flex-container-no jcc" >
      <div class="progress-circle filled"></div>
      <div class="progress-circle"></div>
      <div class="progress-circle"></div>
    </div>
  </section>
  <section style="display:none;" id="color-style">
    <p class="subscript tac">Pick a color to dye your fleece</p>
    <div class="color-circle-container">
      <img src="{{'fluff.png' | asset_url}}" class="center" id="color-fluff" />
      <img src="{{'aquamarine.png' | asset_url}}" class="color-icon deg0"/>
      <img src="{{'mysoul.png' | asset_url}}" class="color-icon deg45"/>
      <img src="{{'bubblegum.png' | asset_url}}" class="color-icon deg90"/>
      <img src="{{'condensedmilk.png' | asset_url}}" class="color-icon deg135"/>
      <img src="{{'CORAL.png' | asset_url}}" class="color-icon deg180"/>
      <img src="{{'lincolnlog.png' | asset_url}}" class="color-icon deg225"/>
      <img src="{{'chicagoweather.png' | asset_url}}" class="color-icon deg270"/>
      <img src="{{'maryj.png' | asset_url}}" class="color-icon deg315"/>
    </div>

    <img src="{{'leaf.png' | asset_url}}" class="icon" id="leaf"/>
    <p class="tac nmt">Alpaca fibers have no natural<br> grease and are known as the </br>world's most sustainable fibers.</p>
    <div class="flow-button border-black continue clickable"><p class="tac nm">Let's Go</p></div>
  <div id="prog" class="flex-container-no jcc">
      <div class="progress-circle filled"></div>
      <div class="progress-circle filled"></div>
      <div class="progress-circle"></div>
    </div>
  </section>
  <section style="display:none;">
      <div id="prog" class="flex-container-no jcc">
      <div class="progress-circle filled"></div>
      <div class="progress-circle filled"></div>
      <div class="progress-circle filled"></div>
    </div>
  </section>
</div>
<script>
  $('.continue').click(function() {
    $(this).closest('section').hide().next('section').fadeIn();
  })
  var shaveCount = 0  
  $('#shaver').click(function() {
    shaveCount += 1 
    if (shaveCount == 4) {
      $('#clothed-paca').attr("src", "{{'naked-paca.png' | asset_url }}"); 
    $('.slide1').hide()
    $('#shave-me').addClass('slide2'); 
    $('.slide2').fadeIn();
    }
    $('#fluff' + shaveCount).removeClass('vis-hid'); 
  })
</script>
